body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(black,white,black);
    font-family: 'Karla', sans-serif;
}