body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(black, white, black);
    font-family: 'Karla', sans-serif;
}

.container {
    width: 450px;
    height: 450px;
    background: #1F2937;
    border-radius: 4px;
    color: white;
}

.content__container {
    margin: 30px 40px 0px;
}